<aside class="col-md-3">
    <ul class="list-group">
        <a class="list-group-item @ActiveStyle("overview")" href="/account/overview"> 账号概览  </a>
        <a class="list-group-item @ActiveStyle("orders")" href="/orders/mine"> 我的订单 </a>
        <a class="list-group-item @ActiveStyle("addresses")" href="/addresses"> 收货地址 </a>
        <a class="list-group-item @ActiveStyle("settings")" href="/account/settings"> 设置 </a>
        <a class="list-group-item @ActiveStyle("password")" href="/account/password"> 修改密码 </a>
    </ul>

    <br />

    <a class="btn btn-light btn-block" href="/" @onclick="Submit">
        <i class="fas fa-sign-out-alt"></i> <span class="text">退出登录</span>
    </a>
</aside>

@code{
    private string ActiveStyle(string url) {
        if(NavigationManager.Uri.Contains(url)) {
            return "active";
        }
        return "";
    }
}
